@model ehr_csharp.Models.Medico

@{
    ViewData["Title"] = "Configuração de Agendamentos";
}

<main class="container-fluid px-4 py-4">
    <div class="px-6 px-lg-7 pt-8 border-bottom">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="mb-0">Agendamentos</h1>
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#novoAgendamentoModal">
                <i class="bi bi-plus-lg me-2"></i> Novo Agendamento
            </button>
        </div>
        <ul class="nav nav-tabs nav-tabs-flush gap-4 border-0 mt-4">
            <li class="nav-item"><a href="#" class="nav-link active">Todos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Semana Atual</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Mês Atual</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Mês Passado</a></li>
        </ul>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-striped table-hover table-sm table-nowrap">
            <thead class="bg-custom">
                <tr>
                    <th>Data</th>
                    <th>Paciente</th>
                    <th>Status</th>
                    <th>Nome do Médico</th>
                    <th>Motivo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>28/05/2020 09:00</td>
                    <td>Naruto Uzumaki</td>
                    <td><span class="badge bg-success">Atendido</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Infecção de Ouvido</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 10:00</td>
                    <td>Sasuke Uchiha</td>
                    <td><span class="badge bg-warning">Pendente</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 11:00</td>
                    <td>Monkey D. Luffy</td>
                    <td><span class="badge bg-danger">Cancelado</span></td> 
                    <td>Tony Tony Chopper</td>
                    <td>Luxação no Braço</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 12:00</td>
                    <td>Goku</td>
                    <td><span class="badge bg-success">Atendido</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Exame de Sangue</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 13:00</td>
                    <td>Yusuke Urameshi</td>
                    <td><span class="badge bg-warning">Pendente</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 14:00</td>
                    <td>Edward Elric</td>
                    <td><span class="badge bg-success">Atendido</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 15:00</td>
                    <td>Hinata Hyuga</td>
                    <td><span class="badge bg-warning">Pendente</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 16:00</td>
                    <td>Akira Fudo</td>
                    <td><span class="badge bg-success">Atendido</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 17:00</td>
                    <td>Vash the Stampede</td>
                    <td><span class="badge bg-warning">Pendente</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 18:00</td>
                    <td>Lelouch Lamperouge</td>
                    <td><span class="badge bg-success">Atendido</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 19:00</td>
                    <td>Shinji Ikari</td>
                    <td><span class="badge bg-warning">Pendente</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>28/05/2020 20:00</td>
                    <td>Gon Freecss</td>
                    <td><span class="badge bg-success">Atendido</span></td>
                    <td>Tony Tony Chopper</td>
                    <td>Consulta de Rotina</td>
                    <td>
                        <div class="dropdown">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#!" class="dropdown-item">Visualizar</a>
                                <a href="#!" class="dropdown-item">Editar</a>
                                <a href="#!" class="dropdown-item">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="novoAgendamentoModal" tabindex="-1" aria-labelledby="novoAgendamentoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novoAgendamentoModalLabel">Novo Agendamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="horarioConsulta" class="form-label"> Horário da Consulta</label>
                            <input type="time" id="horarioConsulta" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="paciente" class="form-label"> Paciente</label>
                            <select id="paciente" class="form-select" required>
                                <option selected disabled>Selecione</option>
                                <option>Naruto Uzumaki</option>
                                <option>Sasuke Uchiha</option>
                                <option>Monkey D. Luffy</option>
                                <option>Zoro Roronoa</option>
                                <option>Sakura Haruno</option>
                                <option>Ichigo Kurosaki</option>
                                <option>Hinata Hyuga</option>
                                <option>Edward Elric</option>
                                <option>Yusuke Urameshi</option>
                                <option>Akira Fudo</option>
                                <option>Vash the Stampede</option>
                                <option>Lelouch Lamperouge</option>
                                <option>Shinji Ikari</option>
                                <option>Gon Freecss</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="motivo" class="form-label"> Motivo</label>
                            <input type="text" id="motivo" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="medico" class="form-label"> Médico</label>
                            <select id="medico" class="form-select" required>
                                <option selected>Tony Tony Chopper</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</main>

