@using System.Security.Claims
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Arquivos locais -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ehr_csharp.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <!-- Evite usar ../ para acessar arquivos locais. Use ~/ para rotas relativas à raiz do site -->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/utility.css" asp-append-version="true" />

    <!-- Arquivos externos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,300,401,400&display=swap">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="color-scheme" content="dark light">
</head>
<body class="bg-body-tertiary">



    <div class="modal fade" id="depositLiquidityModal" tabindex="-1" aria-labelledby="depositLiquidityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content overflow-hidden">
                <div class="modal-header pb-0 border-0">
                    <h1 class="modal-title h4" id="depositLiquidityModalLabel">Deposit liquidity</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body undefined">
                    <form class="vstack gap-6">
                        <div class="vstack gap-1">
                            <div class="bg-body-secondary rounded-3 p-4">
                                <div class="d-flex justify-content-between text-xs text-muted"><span class="fw-semibold">From</span> <span>Balance: 10,000 ADA</span></div>
                                <div class="d-flex justify-content-between gap-2 mt-4"><input type="tel" class="form-control form-control-flush text-xl fw-bold flex-fill" placeholder="0.00"> <button class="btn btn-neutral shadow-none rounded-pill flex-none d-flex align-items-center gap-2 py-2 ps-2 pe-4"><img src="../../img/crypto/color/ada.svg" class="w-rem-6 h-rem-6" alt="..."> <span class="text-xs fw-semibold text-heading ms-1">ADA</span></button></div>
                            </div>
                            <div class="position-relative text-center my-n4 overlap-10">
                                <div class="icon icon-sm icon-shape bg-body shadow-soft-3 rounded-circle text-sm text-body-tertiary"><i class="bi bi-arrow-down-up"></i></div>
                            </div>
                            <div class="bg-body-secondary rounded-3 p-4">
                                <div class="d-flex justify-content-between text-xs text-muted"><span class="fw-semibold">To</span> <span>Balance: 0 SUN</span></div>
                                <div class="d-flex justify-content-between gap-2 mt-4"><input type="tel" class="form-control form-control-flush text-xl fw-bold flex-fill" placeholder="0.00"> <button class="btn btn-neutral shadow-none rounded-pill flex-none d-flex align-items-center gap-2 py-2 ps-2 pe-4"><img src="../../img/pools/pool-1.png" class="w-rem-6 h-rem-6 rounded-circle" alt="..."> <span class="text-xs fw-semibold text-heading ms-1">SUN</span></button></div>
                            </div>
                        </div>
                        <div>
                            <label class="form-label">Slippage tolerance</label>
                            <div class="d-flex flex-wrap gap-1 gap-sm-2">
                                <div class="w-sm-56 input-group input-group-sm input-group-inline"><input type="search" class="form-control" placeholder="1"> <span class="input-group-text">%</span></div>
                                <div class="flex-fill"><input type="radio" class="btn-check" name="options" id="option1" checked="checked"> <label class="btn btn-sm btn-neutral w-100" for="option1">0.5%</label></div>
                                <div class="flex-fill"><input type="radio" class="btn-check" name="options" id="option2" checked="checked"> <label class="btn btn-sm btn-neutral w-100" for="option2">1%</label></div>
                                <div class="flex-fill"><input type="radio" class="btn-check" name="options" id="option3" checked="checked"> <label class="btn btn-sm btn-neutral w-100" for="option3">3%</label></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary w-100">Provide liquidity</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="connectWalletModal" tabindex="-1" aria-labelledby="connectWalletModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content overflow-hidden">
                <div class="modal-header pb-0 border-0">
                    <h1 class="modal-title h4" id="connectWalletModalLabel">Connect your wallet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body undefined">
                    <div class="list-group list-group-flush gap-2">
                        <div class="list-group-item border rounded d-flex gap-3 p-4 bg-body-secondary-hover">
                            <div class="icon flex-none"><img src="../../img/wallets/metamask.png" class="w-rem-8 h-rem-8" alt="..."></div>
                            <div class="d-flex align-items-center flex-fill">
                                <div><a href="#" class="stretched-link text-heading text-sm fw-bold">MetaMask</a></div>
                                <div class="ms-auto"><span class="badge badge-md text-bg-primary">Popular</span></div>
                            </div>
                        </div>
                        <div class="list-group-item border rounded d-flex gap-3 p-4 bg-body-secondary-hover">
                            <div class="icon flex-none"><img src="../../img/wallets/coinbase.webp" class="w-rem-8 h-rem-8" alt="..."></div>
                            <div class="d-flex align-items-center flex-fill">
                                <div><a href="#" class="stretched-link text-heading text-sm fw-bold">Coinbase Wallet</a></div>
                            </div>
                        </div>
                        <div class="list-group-item border rounded d-flex gap-3 p-4 bg-body-secondary-hover">
                            <div class="icon flex-none"><img src="../../img/wallets/walletconnect.png" class="w-rem-8 h-rem-8" alt="..."></div>
                            <div class="d-flex align-items-center flex-fill">
                                <div><a href="#" class="stretched-link text-heading text-sm fw-bold">WalletConnect</a></div>
                            </div>
                        </div>
                        <div class="list-group-item border rounded d-flex gap-3 p-4 bg-body-secondary-hover">
                            <div class="icon flex-none"><img src="../../img/wallets/phantom.png" class="w-rem-8 h-rem-8" alt="..."></div>
                            <div class="d-flex align-items-center flex-fill">
                                <div><a href="#" class="stretched-link text-heading text-sm fw-bold">Phantom</a></div>
                                <div class="ms-auto"><span class="badge badge-md text-bg-light">Solana</span></div>
                            </div>
                        </div>
                        <div class="list-group-item border rounded d-flex gap-3 p-4 bg-body-secondary-hover">
                            <div class="icon flex-none"><img src="../../img/wallets/core.png" class="w-rem-8 h-rem-8" alt="..."></div>
                            <div class="d-flex align-items-center flex-fill">
                                <div><a href="#" class="stretched-link text-heading text-sm fw-bold">Core</a></div>
                                <div class="ms-auto"><span class="badge badge-md text-bg-light">Avalanche</span></div>
                            </div>
                        </div>
                        <div class="list-group-item border rounded d-flex gap-3 p-4 bg-body-secondary-hover">
                            <div class="icon flex-none"><img src="../../img/wallets/glow.svg" class="w-rem-8 h-rem-8" alt="..."></div>
                            <div class="d-flex align-items-center flex-fill">
                                <div><a href="#" class="stretched-link text-heading text-sm fw-bold">Glow</a></div>
                                <div class="ms-auto"><span class="badge badge-md text-bg-light">Solana</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-xs text-muted mt-6">By connecting wallet, you agree to Satoshi's <a href="#" class="fw-bold">Terms of Service</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-lg-row h-lg-100 gap-1">
        <nav class="flex-none navbar navbar-vertical navbar-expand-lg navbar-light bg-transparent show vh-lg-100 px-0 py-2" id="sidebar">
            <div class="container-fluid px-3 px-md-4 px-lg-6">
                <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class ="navbar-brand d-inline-block py-lg-4 mb-lg-15" href="/pages/dashboard.html" style="display: flex; align-items: center;">
                    <img src="../../img/logos/logo-dark2.png" class="logo-dark h-rem-8 " alt="Logo Dark">
                    <img src="../../img/logos/logo-dark2.png" class="logo-light h-rem-12 " alt="Logo Light">
                </a>
                <div class="navbar-user d-lg-none">
                    <div class="dropdown">
                        <a class="d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    @*         <div>
                                <div class="avatar avatar-sm text-bg-secondary rounded-circle">AE</div>
                            </div>
                            <div class="d-none d-sm-block ms-3"><span class="h6">Alexis</span></div> *@
                            <div class="d-none d-md-block ms-md-2"><i class="bi bi-chevron-down text-muted text-xs"></i></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">                        
                            <a class="dropdown-item" href="#"><i class="bi bi-house me-3"></i>Home </a><a class="dropdown-item" href="#"><i class="bi bi-pencil me-3"></i>Edit profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="bi bi-gear me-3"></i>Configurações </a>
                            <a class="dropdown-item" href="#"><i class="bi bi-image me-3"></i>Media </a>
                            <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-up me-3"></i>Share</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/login"><i class="bi bi-person me-3"></i>Login</a>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse overflow-x-hidden" id="sidebarCollapse">
                    <ul class="navbar-nav">

                        <li class="nav-item my-1">
                            <a class="nav-link d-flex align-items-center rounded-pill active" href="#sidebar-account" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-account">
                                <i class="bi bi-gear-fill"></i> <span>Painel Administrador</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span>
                            </a>
                            <div class="collapse show" id="sidebar-account">
                                <ul class="nav nav-sm flex-column mt-1">
                                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                                    <li class="nav-item"><a href="/Usuario" class="nav-link">Usuários</a></li>
                                    <li class="nav-item"><a href="/Usuario/Editar" class="nav-link">Cadastrar Usuario</a></li>
                                    <li class="nav-item"><a href="" class="nav-link fw-bold">Billing</a></li>
                                    <li class="nav-item"><a href="" class="nav-link">Notifications</a></li>
                                    <li class="nav-item"><a href="" class="nav-link">Team</a></li>
                                    <li class="nav-item"><a href="/pages/register.html" class="nav-link">Register</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item my-1">
                            <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-dashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-dashboards"><i class="bi bi-house-fill"></i> <span>Dashboard Medico</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a>
                            <div class="collapse" id="sidebar-dashboards">
                                <ul class="nav nav-sm flex-column mt-1">
                                    <li class="nav-item"><a href="/pages/dashboard.html" class="nav-link">Default</a></li>
                                    <li class="nav-item"><a href="/pages/dashboard-analytics.html" class="nav-link">Analytics</a></li>
                                    <li class="nav-item"><a href="/pages/dashboard-wallet.html" class="nav-link">Wallet</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item my-1">
                            <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-calendario" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-calendario">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                </svg> <span>Agendamento</span>
                            </a>
                            <div class="collapse" id="sidebar-calendario">
                                <ul class="nav nav-sm flex-column mt-1">
                                    <li class="nav-item my-1">
                                        <a class="nav-link d-flex align-items-center rounded-pill" href="@Url.Action("Index", "Consulta")" role="button">
                                            Calendário
                                        </a>
                                    </li>
                                    <li class="nav-item"><a href="/Consulta/Agendar" class="nav-link">Agendar Consulta</a></li>
                                    <li class="nav-item"><a href="/Consulta/Relatorios" class="nav-link">Relatórios de Consultas</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item my-1">
                            <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-paciente" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-paciente">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-standing" viewBox="0 0 16 16">
                                    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0" />
                                </svg> <span>Pacientes</span>
                            </a>
                            <div class="collapse" id="sidebar-paciente">
                                <ul class="nav nav-sm flex-column mt-1">
                                    <li class="nav-item"><a href="/Paciente/Editar" class="nav-link">Cadastrar Paciente</a></li>
                                    <li class="nav-item"><a href="/Paciente" class="nav-link">Lista de Pacientes</a></li>
                                    <li class="nav-item"><a href="/Paciente/Relatorios" class="nav-link">Relatórios</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item my-1">
                            <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-pages" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-pages"><i class="bi bi-bar-chart-fill"></i> <span>Pages</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a>
                            <div class="collapse" id="sidebar-pages">
                                <ul class="nav nav-sm flex-column mt-1">
                                    <li class="nav-item"><a href="/pages/page-overview.html" class="nav-link">Overview</a></li>
                                    <li class="nav-item"><a href="/pages/page-table-listing.html" class="nav-link">Table Listing</a></li>
                                    <li class="nav-item"><a href="/pages/page-details.html" class="nav-link">Details</a></li>
                                    <li class="nav-item"><a href="/pages/page-create-form.html" class="nav-link">Create Form</a></li>
                                    <li class="nav-item"><a href="/pages/page-list.html" class="nav-link">Large List</a></li>
                                    <li class="nav-item"><a href="/pages/page-checklist.html" class="nav-link">Checklist</a></li>
                                    <li class="nav-item"><a href="/pages/page-collection.html" class="nav-link">Collection</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item my-1">
                            <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-other" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-other"><i class="bi bi-file-break-fill"></i> <span>Other</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a>
                            <div class="collapse" id="sidebar-other">
                                <ul class="nav nav-sm flex-column mt-1">
                                    <li class="nav-item"><a href="/pages/other-pricing.html" class="nav-link">Pricing Plans</a></li>
                                    <li class="nav-item"><a href="/pages/terms.html" class="nav-link">Terms of Service</a></li>
                                    <li class="nav-item"><a href="/pages/error.html" class="nav-link">Error Page</a></li>
                                    <li class="nav-item"><a href="/index.html" class="nav-link">Landing Page</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
       
                   @* <ul class="navbar-nav">
                        <li><span class="nav-link text-xs fw-semibold text-uppercase text-muted ls-wide">Resources</span></li>
                        <li class="nav-item my-1"><a class="nav-link d-flex align-items-center rounded-pill" href="/docs"><i class="bi bi-book-fill"></i> <span>Documentation</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a></li>
                        <li class="nav-item my-1">
                            <a class="nav-link d-flex align-items-center rounded-pill" href="#sidebar-components" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-components"><i class="bi bi-grid-1x2-fill"></i> <span>Components</span> <span class="badge badge-sm rounded-pill me-n2 bg-success-subtle text-success ms-auto"></span></a>
                            <div class="collapse" id="sidebar-components">
                                <ul class="nav nav-sm flex-column mt-1">
                                    <li class="nav-item"><a href="/docs/components.html#alerts" class="nav-link">Alerts</a></li>
                                    <li class="nav-item"><a href="/docs/components.html#avatars" class="nav-link">Avatars</a></li>
                                    <li class="nav-item"><a href="/docs/components.html#badges" class="nav-link">Badges</a></li>
                                    <li class="nav-item"><a href="/docs/components.html#buttons" class="nav-link">Buttons</a></li>
                                    <li class="nav-item"><a href="/docs/components.html#button-group" class="nav-link">Button Group</a></li>
                                    <li class="nav-item"><a href="/docs/components.html#cards" class="nav-link">Cards</a></li>
                                    <li class="nav-item"><a href="/docs/components.html#dropdowns" class="nav-link">Dropdowns</a></li>
                                    <li class="nav-item"><a href="/docs/components.html#forms" class="nav-link">Forms</a></li>
                                    <li class="nav-item"><a href="/docs/components.html#list-groups" class="nav-link">List Groups</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item my-1"><a class="nav-link d-flex align-items-center rounded-pill" href="/widgets.html"><i class="bi bi-calendar2-plus-fill"></i> <span>Widgets</span> <span class="badge badge-sm rounded-pill me-n2 bg-warning-subtle text-warning ms-auto">🔥 Hot</span></a></li>
                    </ul> *@
                    <div class="mt-auto"></div>
                    <div class="card bg-dark border-0 mt-0 mb-0">
                        
                    </div>
                </div>
            </div>
        </nav>
        <div class="flex-lg-fill overflow-x-auto ps-lg-1 vstack vh-lg-100 position-relative">
            <div class="d-none d-lg-flex py-3">
                @* <div class="flex-none">
                    <div class="input-group input-group-sm input-group-inline w-rem-64 rounded-pill"><span class="input-group-text rounded-start-pill"><i class="bi bi-search me-2"></i> </span><input type="search" class="form-control ps-0 rounded-end-pill" placeholder="Search" aria-label="Search"></div>
                </div>
                <div class="d-lg-none d-xxl-flex align-items-center gap-4 px-4 scrollable-x">
                    <div class="d-flex gap-2 text-xs"><span class="text-heading fw-semibold">Cryptos:</span> <span class="text-muted">21,713</span></div>
                    <div class="d-flex gap-2 text-xs"><span class="text-heading fw-semibold">Market Cap:</span> <span class="text-muted">$871,322,862,585</span></div>
                    <div class="d-flex gap-2 text-xs"><span class="text-heading fw-semibold">24h Vol:</span> <span class="text-muted">$180,639,667,232</span></div>
                </div> *@
                <div class="hstack flex-fill justify-content-end flex-nowrap gap-6 ms-auto px-6 px-xxl-8">
                    <button type="button" class="btn btn-xs btn-primary rounded-pill text-nowrap" data-bs-target="#connectWalletModal" data-bs-toggle="modal">Connect</button>
                    <div class="dropdown d-none">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-sun-fill"></i></a>
                        <div class="dropdown-menu"><button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">Light</button> <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">Dark</button> <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">System</button></div>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="nav-link" id="dropdown-notifications" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-end px-2" aria-labelledby="dropdown-notifications">
                            <div class="dropdown-item d-flex align-items-center">
                                <h6 class="dropdown-header px-0">Notifications</h6>
                                <a href="#" class="text-sm fw-semibold ms-auto">Clear all</a>
                            </div>
                            <div class="dropdown-item py-3 d-flex">
                                <div>
                                    <div class="avatar bg-primary text-white rounded-circle">RF</div>
                                </div>
                                <div class="flex-fill ms-3">
                                    <div class="text-sm lg-snug w-rem-64 text-wrap"><a href="#" class="fw-semibold text-heading text-primary-hover">Robert</a> sent a message to <a href="#" class="fw-semibold text-heading text-primary-hover">Webpixels</a></div>
                                    <span class="text-muted text-xs">30 mins ago</span>
                                </div>
                            </div>
                            <div class="dropdown-item py-3 d-flex">
                                <div><img src="../../img/people/img-1.jpg" class="avatar rounded-circle" alt="..."></div>
                                <div class="flex-fill ms-3">
                                    <div class="text-sm lg-snug w-rem-64 text-wrap"><a href="#" class="fw-semibold text-heading text-primary-hover">Robert</a> sent a message to <a href="#" class="fw-semibold text-heading text-primary-hover">Webpixels</a></div>
                                    <span class="text-muted text-xs">30 mins ago</span>
                                </div>
                            </div>
                            <div class="dropdown-item py-3 d-flex">
                                <div><img src="../../img/people/img-2.jpg" class="avatar rounded-circle" alt="..."></div>
                                <div class="flex-fill ms-3">
                                    <div class="text-sm lg-snug w-rem-64 text-wrap"><a href="#" class="fw-semibold text-heading text-primary-hover">Robert</a> sent a message to <a href="#" class="fw-semibold text-heading text-primary-hover">Webpixels</a></div>
                                    <span class="text-muted text-xs">30 mins ago</span>
                                </div>
                            </div>
                            <div class="dropdown-item py-3 d-flex">
                                <div>
                                    <div class="avatar bg-success text-white rounded-circle">KW</div>
                                </div>
                                <div class="flex-fill ms-3">
                                    <div class="text-sm lg-snug w-rem-64 text-wrap"><a href="#" class="fw-semibold text-heading text-primary-hover">Robert</a> sent a message to <a href="#" class="fw-semibold text-heading text-primary-hover">Webpixels</a></div>
                                    <span class="text-muted text-xs">30 mins ago</span>
                                </div>
                            </div>
                            <div class="dropdown-item py-3 d-flex">
                                <div><img src="../../img/people/img-4.jpg" class="avatar rounded-circle" alt="..."></div>
                                <div class="flex-fill ms-3">
                                    <div class="text-sm lg-snug w-rem-64 text-wrap"><a href="#" class="fw-semibold text-heading text-primary-hover">Robert</a> sent a message to <a href="#" class="fw-semibold text-heading text-primary-hover">Webpixels</a></div>
                                    <span class="text-muted text-xs">30 mins ago</span>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item py-2 text-center"><a href="#" class="fw-semibold text-muted text-primary-hover">View all</a></div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Layout")

                </div>
            </div>
            <div class="flex-fill overflow-y-lg-auto scrollbar bg-body rounded-top-4 rounded-top-start-lg-4 rounded-top-end-lg-0 border-top border-lg shadow-2">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/switcher.js"></script>

    <script>
        $(document).ready(function () {
            $('.Cpf').mask('000.000.000-00');
            $('.Rg').mask('00.000.000-1');
            // $('.Data').mask('00/00/0000');
            $('.Celular').mask('(00) 00000-0000');
            $('.TelefoneFixo').mask('(00) 0000-0000');
            $('.Cep').mask('00000-000');
        });
    </script>
</body>
</html>






