 @model List<ehr_csharp.Models.Config>



<div class="flex-fill overflow-y-lg-auto scrollbar bg-body rounded-top-4 rounded-top-start-lg-4 rounded-top-end-lg-0 shadow-2">
    <main class="container-fluid px-3 py-5 p-lg-6 p-xxl-8">
        <header class="border-bottom mb-10">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12">
                    <h1 class="ls-tight">Configurações do Sistema</h1>
                </div>
            </div>
        </header>   
        
    @using (Html.BeginForm("Salvar", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data", id = "formSalvarPaciente" }))
    {
            <div class="vstack gap-5">
                @for (var i = 0; i < Model.Count; i++)
                {
                    <div >
                        <div class="col-md-6">
                            <label class="form-label">@Model[i].Descricao</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group input-group-inline">
                                @Html.HiddenFor(m => m[i].IdConfig) 
                                @Html.TextBoxFor(m => m[i].Valor, new { @class = "form-control" }) 
                            </div>
                        </div>
                    </div>
                }
            </div>

        <hr class="my-6 d-md-none">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
    }
    </main>
</div>