<main class="container-fluid px-3 py-5 p-lg-6 p-xxl-8">
    <div class="mb-6 mb-xl-8">
        <div class="row g-3 align-items-center">
            <div class="col">
                <h1 class="h2 ls-tight">Relatórios</h1>
            </div>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-lg-6 vstack gap-5">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h5>Gastos</h5>
                        </div>
                        <div>
                            <span class="text-heading fw-bold">
                                <i class="bi bi-arrow-up me-2"></i>7.8%
                            </span>
                        </div>
                    </div>
                    <div class="text-2xl fw-bolder text-heading ls-tight">R$ 23.863,21 </div>
                    <div class="d-flex align-items-center justify-content-between mt-8">
                        <div class="">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="icon icon-sm icon-shape text-sm rounded-circle bg-dark text-success">
                                    <i class="bi bi-arrow-down"></i>
                                </div><span class="h6 fw-semibold text-muted">Entrada</span>
                            </div>
                            <div class="fw-bold text-heading mt-3">R$ 23.863,21 </div>
                        </div><span class="vr bg-dark bg-opacity-10"></span>
                        <div class="">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="icon icon-sm icon-shape text-sm rounded-circle bg-dark text-danger">
                                    <i class="bi bi-arrow-up"></i>
                                </div><span class="h6 fw-semibold text-muted">Despesas</span>
                            </div>
                            <div class="fw-bold text-heading mt-3">R$ 5.678,45 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 g-3">
                <div class="col">
                    <div class="card">
                        <div class="p-4">
                            <h6 class="text-limit text-muted mb-3">Consultas</h6> <span class="d-block h3 ls-tight fw-bold">300</span>
                            <p class="mt-1">
                                <span class="text-success text-xs">
                                    <i class="fas fa-arrow-up me-1"></i>20%
                                </span><span class="text-muted text-xs text-opacity-75">vs ultima semana</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="p-4">
                            <h6 class="text-limit text-muted mb-3">Pacientes</h6><span class="d-block h3 ls-tight fw-bold">200</span>
                            <p class="mt-1">
                                <span class="text-success text-xs">
                                    <i class="fas fa-arrow-up me-1"></i>20%
                                </span><span class="text-muted text-xs text-opacity-75">vs ultima semana</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body pb-3">
                    <h5 class="mb-3">Ultimas alocações</h5>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item d-flex align-items-center border-0 py-3">
                            <div class="flex-none w-rem-10 h-rem-10">
                                <div class="w-100" alt="...">
                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                        <i class="bi bi-droplet-half"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-fill ms-4 text-limit">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="#"
                                       class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                </div>
                                <div class="progress progress-sm my-1">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                    <div>
                                        <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                    </div>
                                    <div>
                                        <p class="card-text text-muted">
                                            <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end ms-7">
                                <div class="dropdown">
                                    <a class="text-muted" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="#!" class="dropdown-item">Visualizar </a>
                                        <a href="#!" class="dropdown-item">Editar</a>
                                        <a href="#!" class="dropdown-item">Apagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0 py-3">
                            <div class="flex-none w-rem-10 h-rem-10">
                                <div class="w-100" alt="...">
                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                        <i class="bi bi-droplet-half"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-fill ms-4 text-limit">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="#"
                                       class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                </div>
                                <div class="progress progress-sm my-1">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                    <div>
                                        <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                    </div>
                                    <div>
                                        <p class="card-text text-muted">
                                            <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end ms-7">
                                <div class="dropdown">
                                    <a class="text-muted" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="#!" class="dropdown-item">Visualizar </a>
                                        <a href="#!" class="dropdown-item">Editar</a>
                                        <a href="#!" class="dropdown-item">Apagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0 py-3">
                            <div class="flex-none w-rem-10 h-rem-10">
                                <div class="w-100" alt="...">
                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                        <i class="bi bi-droplet-half"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-fill ms-4 text-limit">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="#"
                                       class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                </div>
                                <div class="progress progress-sm my-1">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                    <div>
                                        <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                    </div>
                                    <div>
                                        <p class="card-text text-muted">
                                            <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end ms-7">
                                <div class="dropdown">
                                    <a class="text-muted" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="#!" class="dropdown-item">Visualizar </a>
                                        <a href="#!" class="dropdown-item">Editar</a>
                                        <a href="#!" class="dropdown-item">Apagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0 py-3">
                            <div class="flex-none w-rem-10 h-rem-10">
                                <div class="w-100" alt="...">
                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                        <i class="bi bi-droplet-half"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-fill ms-4 text-limit">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="#"
                                       class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                </div>
                                <div class="progress progress-sm my-1">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                    <div>
                                        <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                    </div>
                                    <div>
                                        <p class="card-text text-muted">
                                            <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end ms-7">
                                <div class="dropdown">
                                    <a class="text-muted" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="#!" class="dropdown-item">Visualizar </a>
                                        <a href="#!" class="dropdown-item">Editar</a>
                                        <a href="#!" class="dropdown-item">Apagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0 py-3">
                            <div class="flex-none w-rem-10 h-rem-10">
                                <div class="w-100" alt="...">
                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                        <i class="bi bi-droplet-half"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-fill ms-4 text-limit">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="#"
                                       class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                </div>
                                <div class="progress progress-sm my-1">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                    <div>
                                        <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                    </div>
                                    <div>
                                        <p class="card-text text-muted">
                                            <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end ms-7">
                                <div class="dropdown">
                                    <a class="text-muted" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="#!" class="dropdown-item">Visualizar </a>
                                        <a href="#!" class="dropdown-item">Editar</a>
                                        <a href="#!" class="dropdown-item">Apagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item d-flex align-items-center border-0 py-3">
                            <div class="flex-none w-rem-10 h-rem-10">
                                <div class="w-100" alt="...">
                                    <span class="d-flex align-items-center justify-content-center w-100 h-100 m-auto py-3 rounded-circle text-muted text-lg bg-body-secondary">
                                        <i class="bi bi-droplet-half"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-fill ms-4 text-limit">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="#"
                                       class="d-block text-sm text-heading fw-bold">Pedido: 09/11/2024</a> <span class="text-muted text-xs fw-semibold">47%</span>
                                </div>
                                <div class="progress progress-sm my-1">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width:47%" aria-valuenow="47" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
                                    <div>
                                        <span class="font-weight-bold text-muted">Especialista: Clínico Geral</span>
                                    </div>
                                    <div>
                                        <p class="card-text text-muted">
                                            <time datetime="2020-06-23">Vencimento: 01/12/2024</time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end ms-7">
                                <div class="dropdown">
                                    <a class="text-muted" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="#!" class="dropdown-item">Visualizar </a>
                                        <a href="#!" class="dropdown-item">Editar</a>
                                        <a href="#!" class="dropdown-item">Apagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
      
            
        </div>
        <div class="col-lg-6 vstack gap-5">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="row g-3 justify-content-between align-items-center">
                        <div class="col-12 col-sm">
                            <h5>Rendimento</h5>
                        </div>
                        <div class="col-12 col-sm-auto">
                            <div class="d-flex scrollable-x justify-content-between gap-1 p-1 align-items-center bg-body-secondary rounded text-xs fw-semibold">
                                <a href="#"
                                   class="px-3 py-1 text-muted bg-white-hover bg-opacity-70-hover rounded">
                                    1H
                                </a><a href="#"
                                       class="px-3 py-1 text-muted bg-white rounded shadow-1">1D </a><a href="#"
                                                                                                        class="px-3 py-1 text-muted bg-white-hover bg-opacity-50-hover rounded">
                                    1W
                                </a><a href="#"
                                       class="px-3 py-1 text-muted bg-white-hover bg-opacity-50-hover rounded">
                                    1M
                                </a><a href="#"
                                       class="d-none d-sm-inline-block px-3 py-1 text-muted bg-white-hover bg-opacity-50-hover rounded">1Y</a>
                            </div>
                        </div>
                    </div>
                    <div class="mx-n4">
                        <div id="chart-crypto-price" data-height="340"></div>
                    </div>
                </div>
            </div>
           
            
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-4">Capacidade de Funcionarios</h5>
                    <div class="vstack gap-3">
                        <div class="surtitle text-xs text-muted text-opacity-75">
                            Médicos
                        </div>
                        <div class="progress w-100">
                            <div class="progress-bar bg-primary" role="progressbar"
                                 aria-label="Basic example" style="width:20%" aria-valuenow="20"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-between text-xs">
                            <span>
                                200 de
                                1000
                            </span> <span>20%</span>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="card">
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Desempenho</h5>
                        </div>
                        <div class="hstack align-items-center">
                            <a href="#" class="text-muted">
                                <i class="bi bi-arrow-repeat"></i>
                            </a>
                        </div>
                    </div>
                    <div class="mx-n4">
                        <div id="chart-line" data-height="245"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>