<div class="d-flex flex-column justify-content-center align-items-center vh-100 overflow-y-auto gradient-bottom-right start-indigo middle-primaria end-purple">
    <div class="container-xxl">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 text-center h-100 order-lg-2"><img src="../../svg/illustrations/ill-1.svg" alt="..."></div>
            <div class="col-lg-4 order-lg-1">
                <div class="">
                    <h1 class="display-1 mb-4">Oops!</h1>
                    <p class="lead lh-relaxed">Você não tem permissão para acessar esta página.</p>                                     
                </div>
            </div>
        </div>
    </div>
</div>