@model List<ehr_csharp.Models.Usuario>


<main class="container-fluid p-0">
    <div class="px-6 px-lg-7 pt-8 border-bottom">
        <div class="d-flex align-items-center">
            <h1>Usuários</h1>
            <div class="hstack gap-2 ms-auto">
                @* <button type="button" class="btn btn-sm btn-neutral d-none d-lg-inline-flex">
                <i class="bi bi-arrow-90deg-right me-2"></i> Export *@
                <a href="/Usuario/Editar" class="btn btn-sm btn-primary">
                    <i class="bi bi-plus-lg me-2"></i> Cadastrar novo
                </a>
            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-flush gap-8 overflow-x border-0 mt-4">
            <li class="nav-item"><button onclick="FiltrarUsuarios('Todos')" class="nav-link active" id="navTodos">Todos</button></li>
            <li class="nav-item"><button onclick="FiltrarUsuarios('Admin')" class="nav-link" id="navAdmin">Administradores</button></li>
            <li class="nav-item"><button onclick="FiltrarUsuarios('Medico')" class="nav-link" id="navMedico">Médicos</button></li>
        </ul>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row align-items-center g-6 mt-0 m-3">
            <div class="col-sm-6">
                <div class="d-flex flex-wrap gap-2">

                    <div class="input-group input-group-sm input-group-inline w-100 w-md-50">
                        <span class="input-group-text">
                            <i class="bi bi-search me-2"></i>
                        </span>
                        <input type="search" name="SearchString" class="form-control ps-0" placeholder="Procurar" aria-label="Search" />
                    </div>

                </div>
            </div>

        </div>

    }
    <div style="height: 20px;"></div>
    @*    <div class="d-flex gap-2 scrollable-x py-3 px-7 border-bottom">
    <button type="button" class="btn btn-xs btn-neutral text-xs">
    <i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Category
    </button> <button type="button" class="btn btn-xs btn-neutral text-xs"><i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Amount</button>
    <button type="button" class="btn btn-xs btn-neutral text-xs"><i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Status</button>
    <div class="align-items-center ms-auto text-sm text-muted text-primary-hover fw-semibold d-none d-md-flex" role="button"><i class="bi bi-x me-1"></i> <span>Clear filters</span></div>
    </div> *@
    <div class="table-responsive">
        <table class="table table-hover table-striped table-sm table-nowrap">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="d-flex align-items-center gap-2 ps-1">
                            <div class="text-base">
                                <div class="form-check"><input class="form-check-input" type="checkbox"></div>
                            </div>
                            <span>Nome</span>
                        </div>
                    </th>
                    <th scope="col">Cargo</th>
                    <th scope="col">E-mail</th>
                    <th scope="col" class="d-none d-xl-table-cell">Cadastrado(a) em</th>
                    <th scope="col" class="d-none d-xl-table-cell">Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="bodyUsuario">
                @await Html.PartialAsync("~/Views/Usuario/_ListaUsuario.cshtml", Model)
            </tbody>

        </table>
    </div>
    <div class="py-4 px-6">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 d-none d-md-block"><span class="text-muted text-sm">Mostrando todos os resultados encontrados</span></div>
            <div class="col-md-auto">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-spaced gap-1">
                        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>


<script>
    var role = "";

    function FiltrarUsuarios(nivelAcesso) {
        role = nivelAcesso;

        $.ajax({
            url: '/Usuario/FiltrarUsuarios',
            type: 'GET',
            data: { "role": role },
            dataType: 'html',
            success: function (data) {
                $("#bodyUsuario").html(data);

                // debugger
                if (role == 'Admin') {
                    $("#navAdmin").addClass("active");
                    $("#navMedico").removeClass("active");
                    $("#navTodos").removeClass("active");
                }
                else if (role == 'Medico') {
                    $("#navAdmin").removeClass("active");
                    $("#navMedico").addClass("active");
                    $("#navTodos").removeClass("active");
                }
                else if (role == 'Todos') {
                    $("#navAdmin").removeClass("active");
                    $("#navMedico").removeClass("active");
                    $("#navTodos").addClass("active");
                }
            },
            error: function () {

            }
        });

    };
</script>
